{% include "email/partials/email-header.html" %}

Hi,
{{ user.first_name }} {{ user.last_name }} submitted FRA Documents and scheduled site visit.
<br>Documents are attached with this email.
<br>
FRA Details:<br>
<table border="1" style="width: 100%; text-align: center;">
	<tr>
		<th>Site Vist Date</th>
		<th>{{ user_request.site_visit_date }}</th>
    </tr>
	<tr>
		<th>Site Vist Time</th>
		<th>{{ user_request.site_visit_time }}</th>
    </tr>
</table>
<br>
User Details:<br>
<table border="1" style="width: 100%; text-align: center;">
	<tr>
		<th>Name</th>
		<th>{{ user.first_name }} {{ user.last_name }}</th>
    </tr>
	<tr>
		<th>Email</th>
		<th>{{ user.email }}</th>
    </tr>
	<tr>
		<th>Nationality</th>
		<th>{{ user.nationality }}</th>
    </tr>
	<tr>
		<th>Contact Number</th>
		<th>{{ user.contact_number }}</th>
    </tr>
    <tr>
		<th>Company Name</th>
		<th>{{ user.company_name }}</th>
    </tr>
    <tr>
		<th>Designation</th>
		<th>{{ user.designation }}</th>
    </tr>
</table>

{% include "email/partials/email-footer.html" %}